* {
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: white;
  font-family: "Courier New";
  line-height: 1.45;
  max-width: 48rem;
  padding: 0.25rem;
  background-color: #222;
  min-height: 100%;
}

.npm-module {
  color: green;
}
