
#card-header {
  background-color: rgb(187, 141, 227);
  color: rgb(255, 255, 255);
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
  border: none;
  border-radius: 15px;
}

.navbar{
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.margin {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-left: 1em;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 7px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(199, 169, 226);
  -webkit-transition: 0.5s;
  transition: 0.2s;
  outline: none;
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border: 2px solid rgb(161, 95, 218);
}

strong {
  color: rgb(151, 72, 221);
}

label {
  padding-left: 1em;
}

a:link {
  text-decoration: none;
}

span:hover {
  transition: 0.2s;
  font-size: 25px;
}

.panel-footer {
  background-color: rgb(218, 216, 216);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.panel-footer span {
  color: rgb(153, 106, 194);
}

.panel-footer h5 {
  color: rgb(59, 59, 59);
}

#passwordVisibility {
  accent-color: rgb(151, 72, 221);
}

#pass {
  margin-left: 1em;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.myfooter {
  background-color: rgb(230, 230, 230);
  
  width: 100%;
  padding: 3em;
}

html {
  height: 100%;
}

login-body {
  background-color: rgb(50, 180, 137);
}

.register-body {
background-color: var(--purple-pastel);
  padding-bottom: 3em;
  padding-top: 3em;
}

:root{
  --purple-pastel: rgb(195, 177, 225);
}

.login-body {
background-color: var(--purple-pastel);
  padding-bottom: 3em;
  padding-top: 3em;
}


/* dark mode */


.shadow-top {
    box-shadow: 0 -1px 20px -5px rgba(115,115,115,0.75);
}